p{
    margin: 50px;
    border: 5px solid;

    /* outline-width: 5px;
    outline-style: solid;
    outline-color: blueviolet; */

    outline: 5px solid blueviolet;

    /* border এবং outline এর মঝে gape তৈরি করার জন্যে */
    outline-offset: 20px;
}

