
                                             /*  বাহির থেকে দূরত্ব  */


.test {
    width: 400px;
    height: 400px;
    background-color: blue;
    margin: 0 auto;
}

/* কোন div কে যদি মাধে নিয়ে যেতে চাই তবে তার একটি width থাকা লাগবে, 
তখন আমরা যদি margin: 0 auto; করে দেই তবে তা মাঝে চলে যাবে। তবে তা 
ডাকে বামে থেকে মাঝে চলে আসবে উপরে নিছে থেকে না। */